# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [62]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

## Regression Model Evaluation

In [63]:
column_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
data = pd.read_csv('housing.csv', header=None, delimiter=r"\s+", names=column_names)

In [3]:
"""
CRIM - per capita crime rate by town
ZN - proportion of residential land zoned for lots over 25,000 sq.ft.
INDUS - proportion of non-retail business acres per town.
CHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)
NOX - nitric oxides concentration (parts per 10 million)
RM - average number of rooms per dwelling
AGE - proportion of owner-occupied units built prior to 1940
DIS - weighted distances to five Boston employment centres
RAD - index of accessibility to radial highways
TAX - full-value property-tax rate per $10,000
PTRATIO - pupil-teacher ratio by town
B - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
LSTAT - % lower status of the population
MEDV - Median value of owner-occupied homes in $1000's"""

"\nCRIM - per capita crime rate by town\nZN - proportion of residential land zoned for lots over 25,000 sq.ft.\nINDUS - proportion of non-retail business acres per town.\nCHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)\nNOX - nitric oxides concentration (parts per 10 million)\nRM - average number of rooms per dwelling\nAGE - proportion of owner-occupied units built prior to 1940\nDIS - weighted distances to five Boston employment centres\nRAD - index of accessibility to radial highways\nTAX - full-value property-tax rate per $10,000\nPTRATIO - pupil-teacher ratio by town\nB - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\nLSTAT - % lower status of the population\nMEDV - Median value of owner-occupied homes in $1000's"

In [64]:
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [65]:
from sklearn.model_selection import train_test_split

In [67]:
y= data['MEDV']
X = data[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']]


X_train, X_test,y_train,  y_test = train_test_split(X, y,test_size=0.2,random_state=7)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [68]:
# Your code here :
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [73]:
y_pred =model.predict(X_test)
y_pred

ytest_pred =model.predict(X_train)
ytest_pred

array([15.98237443, 19.86714594, 21.72955319, 15.46137268, 12.52640166,
       25.51964931, 24.97917585, 21.48243747, 16.54605647, 26.00916474,
       19.07697984, 21.20953356,  8.64962747, 24.7376806 , 13.93958401,
       29.21407422, 18.22888471, 20.60955292, 17.04202539, 24.43690105,
       24.5743658 , 36.62185262, 14.68962108, 33.69004608, 21.78343436,
       28.93922382, 35.98451105, 32.07700429, 22.6888288 , 22.04120254,
       20.15418603, 28.49211715, 24.96242816, 15.69897841, 34.48311516,
       32.21794275, 15.95116405, 23.76673632, 14.03738326, 26.84882738,
       25.11317648, 24.32572959, 30.78034053, 15.50491043, 31.65319729,
       14.00846272, 30.27335437, 24.47426975, 24.47682123,  6.32226233,
       17.81820769,  5.02379134, 16.08891967, 15.38756758, 16.34562845,
       41.17867526, 26.53867891, 25.19314046, 28.39549154,  5.36123484,
       26.74494501, 20.63398597, 25.57095909, 32.9945366 ,  9.9573188 ,
       28.31420656, 33.00882023,  6.5729042 , 23.91050209, 20.60162451,
       17.07456926, 42.69805545, 29.84051634, 24.17933622, 13.39340025,
       34.36524336,  9.17901346, 33.54130468, 33.22354249, 34.72445248,
       10.56429607, 18.81591368, 43.57476978, 45.28963325, 20.68591429,
       22.34968025, 22.53800657, -5.05939628,  2.09472806, 21.95950492,
       21.92809617, 24.40184889, 35.58822128, 21.12810444, 22.98112252,
       33.01622266, 20.24347033, 17.04105284, 27.06138905, 30.76277636,
       13.05694294, 15.03632551, 31.03001904, 19.44009447, 36.66635458,
       25.46310429, 21.98946096, 20.21097052, 32.84371105, 25.70387758,
       15.62750971, 39.64728661, 21.22080169, 23.52693208, 32.62644428,
       22.93634655, 20.79872593, 16.79800587, 16.04678562, 39.71685804,
       15.57653492, 28.36498931,  4.96700353, 12.69379825, 31.51414141,
       31.98248731, 13.48303359, 22.13506981, 14.44547692, 27.13322414,
       21.65720823, 21.1345307 , 18.14836016, 28.44202806, 30.81673375,
       31.37563559, 29.08554428, 37.28231967, 24.87636518, 19.87459799,
       18.96288206, 22.91731294, 20.66751079, 20.87383858, 18.00738026,
       31.21743654, 23.39818803, 22.70383865, 21.73100126, 26.28860375,
       18.21473663, 19.99116036, 17.55041023, 22.24561485, 19.08402637,
       17.26734216, 22.21349088, 17.65157044, 36.97424259, 20.47840641,
       15.9208429 , 24.78815916, 18.02541071, 20.44265014, 15.35884553,
       17.91580371, 14.27771534, 31.44848569, 15.47191689, 21.41392742,
       29.39907785, 20.94644032, 28.26155391, 20.54181905, 21.75125284,
       31.52572814, 21.59371642,  9.23346358, 25.43415171, 15.010329  ,
       19.20063167, 19.46624508, 22.28873367, 25.2822823 , 33.88944888,
       22.62402432, 19.58155314, 13.05841882, 23.4566321 , 20.36394804,
       23.20622693, 33.68179276, 21.95198705, 12.9870731 , 12.75730185,
       15.25814699, 32.11602503, 24.90756155, 21.1060819 , 17.08451811,
       17.09058294, 10.47924778, 23.97696209, 26.38835891, 25.07858091,
       25.36795454, 26.6562828 , 23.88229331, 22.40651083, 28.52352181,
       19.90262043,  4.38629503, 18.09752951, 23.28084649, 21.66962317,
       36.87277582,  8.29476803, 23.0178774 , 26.60895319, 23.3178033 ,
       11.66499645, 23.59320708, 18.22142075, 13.45820501, 23.96089317,
       19.91726692, 37.26420534, 22.12095698, 30.00472891, 12.61058079,
       22.2755847 , 16.76408056, 17.25833132, 32.187666  , 20.42338182,
       27.51488444, 27.88595507, 42.02738931, 42.66084288, 19.78828561,
        0.87872233, 22.98261235, 16.51032845, 26.03338246, 25.35600509,
       21.57799628, 33.77457668, 18.18910762, 17.8363824 , 17.33855363,
       13.20312348, 25.18713804, 17.14032632, 31.90778482,  7.22043347,
       17.43535214, 17.18874132, 13.16050982,  7.08129332, 38.62523754,
       12.97080818, 31.12558917, 18.7420548 , 24.94703821, 41.20705048,
       21.6637131 , 26.41028051, 35.98773158, 24.89207193, 33.03951542,
       17.02789037, 18.03888533, 26.26378228, 19.43052268, 35.06292424,
        6.29291887, 38.14944211,  5.63087466, 16.08768029, 27.27590202,
       20.74408578, 19.56800313, 30.45071843, 24.50555023, 25.02683231,
       15.15096964, 10.93574916, 32.22024932, 17.47162786, 33.68278109,
       23.05842806, 19.85256869, 22.92654417, 36.12458972, 20.45454265,
       15.56369434, 20.96608063, 18.84561956, 23.02999619, 19.9399457 ,
       13.09554879, 20.61480762, 18.07670208, 21.42122492, 28.2059571 ,
       18.78573064, 42.16976669, 13.07072008, 20.34647548, 17.61592152,
       18.83146463, 24.46125612, 20.39977366, 20.2947193 , 24.70767444,
       30.97218394, 14.11472465, 20.28727837, 17.24873103, 14.30451077,
       16.69741357, 28.99387512, 17.39191988, 17.84710964, 29.54753361,
       17.10915102, 23.96001907, 16.17496602, 20.00245952, 15.29894827,
       39.90761678, 19.83262706, 15.1810286 , 17.37511253, 28.60327861,
       18.49010614, 33.93928449, 38.89474229, 20.39911632, 35.09697394,
       21.86981048, 26.09891155, 28.43136446, 26.78312656, 23.24310444,
       10.94398107,  0.12276009, 12.4646103 , 33.26910984, 45.27112154,
       19.24375927, 21.16687112, 20.09846387, 41.29245015, 27.45228035,
       19.93951142, 35.31580386, 22.80810795, 27.99263268, 20.13451743,
       32.51896593, 17.6882767 , 34.68589823, 25.13032515, 20.54092218,
        9.62133676, 30.12123796, 18.72479124, 22.71535297, 25.06492128,
       30.18970806, 23.03845787, 11.79362887, 33.16052882, 22.95577148,
       24.64752371, 26.0768627 , 24.05115187, 29.58950356, 14.76355149,
       17.54746337, 12.95376113, 20.95722366, 17.28882245, 19.50359651,
       22.33153087,  9.25002803, 25.05145542, 25.32903737, 13.38810622,
       17.16650158, 24.37489022, 14.23519741,  6.62815811, 24.69924511,
       27.29493645, 20.20127124, 18.04917872, 17.38142925, 20.90383011,
       21.90739268, 13.21318232, 36.21523841, 30.58978716])

## 3. Calculate and print R-squared for both the training and the testing set.

In [70]:
from sklearn.metrics import r2_score

r2_test = r2_score(y_test, y_pred)
r2_train = r2_score(y_train, ytest_pred)

r2_test,r2_train

(0.5785415472763422, 0.7698532963729757)

## 4. Calculate and print mean squared error for both the training and the testing set.

In [ ]:
# Your code here :
from sklearn.metrics import mean_squared_error 

test_MSR = mean_squared_error(y_pred,y_test)
train_MSR = mean_squared_error(ytest_pred,y_train)
test_MSR,train_MSR

(34.0564813488745, 19.63871731137543)

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [77]:
from sklearn.metrics import mean_absolute_error
test_MAE = mean_absolute_error(y_pred , y_test)
train_MAE = mean_absolute_error(ytest_pred , y_train)
test_MAE,train_MAE

(3.780762909174946, 3.106300428127976)

## Classification Model Evaluation

In [78]:
from sklearn.datasets import load_iris
data = load_iris()

In [79]:
print(data.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [80]:
column_names = data.feature_names

In [81]:
df = pd.DataFrame(data['data'],columns=column_names)

In [82]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [83]:
target = pd.DataFrame(data.target)
target

     0
0    0
1    0
2    0
3    0
4    0
..  ..
145  2
146  2
147  2
148  2
149  2

[150 rows x 1 columns]

In [84]:
data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [85]:
data['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [ ]:

y= target
X = df


X_train02, X_test02 ,y_train02 ,  y_test02 = train_test_split(X, y,test_size=0.2,random_state=7)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [ ]:
from sklearn.linear_model import LogisticRegression

model02 = LogisticRegression()
model02.fit(X_train02,y_train02)

LogisticRegression()

In [94]:
y_pred02 =model02.predict(X_test02)
y_pred02

ytest_pred02 =model02.predict(X_train02)
ytest_pred02

array([2, 1, 0, 2, 1, 0, 0, 0, 0, 2, 2, 1, 2, 2, 1, 0, 1, 1, 2, 0, 0, 0,
       2, 0, 2, 1, 1, 1, 0, 0, 0, 1, 2, 1, 1, 0, 2, 0, 0, 2, 2, 0, 2, 0,
       1, 2, 1, 0, 1, 0, 2, 2, 1, 0, 0, 1, 2, 0, 2, 2, 1, 0, 1, 0, 2, 2,
       0, 0, 2, 1, 2, 2, 1, 0, 0, 2, 0, 0, 2, 2, 2, 1, 1, 0, 2, 0, 0, 1,
       1, 2, 0, 1, 1, 2, 2, 1, 2, 0, 1, 1, 0, 0, 0, 1, 1, 0, 2, 2, 1, 2,
       0, 2, 1, 1, 0, 2, 1, 2, 1, 0])

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [98]:
from sklearn.metrics import accuracy_score
acc_test = accuracy_score(y_test02, y_pred02)
acc_train = accuracy_score(y_train02, ytest_pred02)
acc_train,acc_test

(0.9916666666666667, 0.8666666666666667)

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [99]:
from sklearn.metrics import balanced_accuracy_score

bacc_test = balanced_accuracy_score(y_test02, y_pred02)
bacc_train = balanced_accuracy_score(y_train02, ytest_pred02)
bacc_train,bacc_test

(0.9912280701754387, 0.883838383838384)

## 10. Calculate and print the precision score for both the training and the testing set.

In [102]:
from sklearn.metrics import precision_score

pc_test = precision_score(y_test02, y_pred02, average=None)
pc_train = precision_score(y_train02, ytest_pred02, average=None)
pc_train,pc_test

(array([1.   , 1.   , 0.975]), array([1.        , 0.83333333, 0.81818182]))

## 11. Calculate and print the recall score for both the training and the testing set.

In [103]:
from sklearn.metrics import recall_score

rc_test = recall_score(y_test02, y_pred02, average=None)
rc_train = recall_score(y_train02, ytest_pred02, average=None)
rc_train,rc_test

(array([1.        , 0.97368421, 1.        ]),
 array([1.        , 0.83333333, 0.81818182]))

## 12. Calculate and print the F1 score for both the training and the testing set.

In [105]:
from sklearn.metrics import f1_score

f1_test = f1_score(y_test02, y_pred02, average=None)
f1_train = f1_score(y_train02, ytest_pred02, average=None)
f1_train, f1_test

(array([1.        , 0.98666667, 0.98734177]),
 array([1.        , 0.83333333, 0.81818182]))

## 13. Generate confusion matrices for both the training and the testing set.

In [107]:
from sklearn.metrics import confusion_matrix

conf_test = confusion_matrix(y_test02, y_pred02)
conf_train = confusion_matrix(y_train02, ytest_pred02)
conf_train, conf_test

(array([[43,  0,  0],
        [ 0, 37,  1],
        [ 0,  0, 39]], dtype=int64),
 array([[ 7,  0,  0],
        [ 0, 10,  2],
        [ 0,  2,  9]], dtype=int64))

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.

In [26]:
# Have fun here !